<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div style = "margin-top:200px; display: flex; justify-content: center;">
        <form action="/" method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input name = "name" class="form-control" id="exampleFormControlInput1" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">1st number</label>
                <input type="number" step = "0.01" name = "num1" class="form-control" id="exampleFormControlInput1" placeholder="1st number">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">2nd number</label>
                <input type="number" step = "0.01" name = "num2" class="form-control" id="exampleFormControlInput1" placeholder="2nd number">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Calculate</button>
        </form>
    </div>

    <div style = "margin-top:200px; display: flex; justify-content: center;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Num1</th>
                    <th scope="col">Num2</th>
                    <th scope="col">Result</th>
                    </tr>
            </thead>
            <tbody>
                {% for value in values %}
                <tr>
                    <th scope="row">{{value[1]}} - {{value[0]}}</th>
                    <td>{{value[2]}}</td>
                    <td>{{value[3]}}</td>
                    <td>{{'%0.2f'| format(value[4]|float)}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>
